<div class="container-fluid body-content-wrapper">
  <h1>CONTACT</h1>
  <p>Fill out this form and contact us regarding any query you have, questions or requests and we’ll be happy to assist
  you!</p>
    
  <form>
    <div class="form-group">
      <label for="form-name">Name : </label>
      <p><input type="text" placeholder="Name..." id="form-name" required="required"></p>
    </div>
    <div class="form-group">
      <label for="form-email">
        <span class="glyphicon glyphicon-envelope"></span>
        Email : </label>
      <p><input type="email" name="email" placeholder="Email..." id="form-email" required="required" /></p>
    </div>
    <div class="form-group">
      <label for="form-mobile">Contact : </label>
      <p><input type="number" placeholder="Phone number..." id="form-mobile" required="required" /></p>
    </div>
    <div class="form-group">
      <label for="form-msg">Message :
      <p><textarea id="message-box" placeholder="Enter your message here" style="resize:none" rows="5"
        id="form-msg"></textarea></p>
    </div>
    <p>
    <button type="submit" class="btn btn-default" id="contact-submit">Submit</button></p>
  </form>
</div>