<h1>CONTACT</h1>
  <div class="pure-g">
    <div class="pure-u-1-2">
      Fill out this form and contact us regarding any booking query you have, questions or requests and we’ll be happy to assist
      you!
    </div>
    <div class="pure-u-1-2">
      <form id="contact-section" class="pure-form pure-form-aligned">
        <fieldset>
          <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name">
          </div>

          <div class="pure-control-group">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email">
          </div>

          <div class="pure-control-group">
            <label for="subject">Subject</label>
            <input id="subject" type="text" placeholder="Subject">
          </div>

          <div class="pure-control-group">
            <label for="message">Message</label>
            <textarea id="message" type="text" placeholder="Message" rows="5"></textarea>
          </div>

          <div class="pure-control-group">
            <button type="submit" class="pure-button">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>